



/*main*/
body {
  background-color: #D1D4DD;
}

.truyentheodoi {
  margin: 120px;

  color: #4D535E;
}

.truyentheodoi .truyen {
  margin-bottom: 70px;
}

.truyentheodoi h3 {
  margin-bottom: 50px;
}

.chuyentrang .col-6 {
  position: relative;
  font-weight: 500;

}

.trangtruoc {
  position: absolute;
  right: 0px;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 50px;
  color: rgb(0, 0, 0);
  background-color: #999a9d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button i {
  margin-right: 8px;
  margin-left: 8px;
}

.button:hover {
  color: rgb(0, 0, 0);
  background-color: #7d7e7f;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 170px;
}

.image-container img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

.delete-icon {
  position: absolute;
  top: 3px;
  right: 3px;

  color: white;
  border-radius: 50%;

  font-size: 9px;
  padding: 6px;
  cursor: pointer;
}

.description {
  margin-top: 10px;

  color: rgb(50, 48, 48);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Số dòng tối đa */
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;


  font-size: 16px;
  font-weight: 450;


}

.btndelete {
  background-color: #bd2d23;
  /* Màu nền đỏ */
  border-radius: 50%;
  border: 2px solid rgb(232, 227, 227);
  color: white;
  /* Màu chữ trắng */
  padding: 5px 7px;
  /* Khoảng cách bên trong */
  padding-top: 6px;
  font-size: 9px;
  /* Kích thước chữ */
  cursor: pointer;
  /* Con trỏ chuột khi hover */
}

.btndelete:hover {
  background-color: #d32f2f;
  /* Màu nền khi hover */
}

/* FOOTER */
truyentheodoi {
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top-width: 2px;

}

.footer .inner-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer .inner-text .inner-contact {
  color: rgb(186 246 207);
}

.footer .inner-text .inner-member {
  color: white;
}

.footer .inner-text a {
  color: white;
}


/* END FOOTER */