{% extends "index.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
{% load humanize %}

<main>
	<section id="truyentheodoi">
		<div class="container">
			<h1 class="font-bold">
				Lịch sử đọc truyện
			</h1>
			<form class="date-form">
				<label for="start-date"> duyệt theo ngày theo ngày:</label><br>
				<span>từ: </span><input type="date" id="start-date" name="start-date" class="date-picker" required>
				<label for="end-date">đến:</label>
				<input type="date" id="end-date" name="end-date" class="date-picker" required>
				<button>lọc</button>
			</form>
			<h2 class="font-bold" style="margin: 10px 0">
				ngày 31/10/20224
			</h2>
			<div class="inner-list my-0">
				<div class="row">
					<div class="col-lg-2 col-md-3 col-sm-4 col-6">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-6">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-6">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-6">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-6">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-6">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
			<br>
			<h2 class="font-bold" style="margin: 10px 0">
				ngày 31/11/20224
			</h2>
			<div class="inner-list my-0">
				<div class="row">
					<div class="col-lg-2 col-md-3 col-sm-4 col-6">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-6">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-6">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-6">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-6">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4 col-6">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>


</main>

<!-- FOOTER -->
<footer class="footer">
	<!-- <p class="float-end"><a href="#">Back to top</a></p> -->
	<div class="container">
		<div class="inner-text">
			<div class="inner-contact">Link Github của nhóm 6:
				<a href="github.com" target="_blank">github.com</a>
			</div>
			<div class="inner-contact">
				Thành viên nhóm:
			</div>
			<div class="inner-member">B22DCCN261 - Hoàng Sơn Hải</div>
			<div class="inner-member">B22DCKH131 - Hoàng Khánh Văn</div>
			<div class="inner-member">B22DCKH129 - Nguyễn Hữu Trường</div>
			<div class="inner-member">B22DCCN633 - Thái Hữu Phúc</div>
			<div class="inner-member">B22DCCN371 - Trịnh Mạnh Hùng</div>
		</div>
	</div>

</footer>
<!-- END FOOTER -->


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>


{% endblock %}