<header>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
		<div class="container">
			<a class="navbar-brand" href="/home/">Trang chủ</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fa-solid fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/dangtruyen/">Đăng truyện</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Thể loại
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<div class=" "> <!-- Use flexbox for horizontal layout -->
								{% for x in list_the_loais %}
								<p style="float: left;
								width: 140px;"><a class="dropdown-item px-2" style="display: inline-block;"
										href="/theloai={{ x.theloai }}/">{{x.theloai }}</a></p>
								{% endfor %}
								<br>
							</div>
						</div>
					</li>

				</ul>
				<form class="d-flex" action="{% url 'timkiem' %}" method="post">
					{% csrf_token %}
					<input class="form-control me-2" type="search" placeholder="Nhập tên truyện..." aria-label="Search"
						name="search_value" required>
					<button class="btn inner-button" type="submit" name="btn-search">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>
				<div class="notification_wrap">
					<div class="notification_icon">
						{% if not list_thong_baos %}
						<i class="fa-regular fa-bell"></i>
						{% else %}
						<i class="fa-solid fa-bell" style="color: #ff0000;"></i>
						{% endif %}
					</div>
					<div class="dropdown">
						{% if checklogin == False %}
						<div class="notify_item">
							<a href="/login/" class="notify_info">
								<p href="#" style="color: blue;">Đăng nhập ngay để nhận thông báo!!</p>
							</a>
						</div>
						{% endif %}
						{% for x in list_thong_baos %}
						<div class="notify_item">
							<a href="/truyen_id={{x.chap.truyen.id}}/chuong={{x.chap.id}}/" class="notify_info">
								<p href="#" style="color: blue;">{{ x.theloai}}</p>
								<p>{{ x.noidung }}
								</p>
							</a>
						</div>
						{% endfor %}
						{% if list_thong_baos %}
						<div class="notify_item">
							<form method="post" style="margin-bottom: 0; width: 100%">
								{% csrf_token %}
								<button type="submit" name="btn-delete-noti" class="btn btn-danger">Xóa tất
									cả</button>
							</form>
						</div>
						{% elif checklogin %}
						<div class="notify_item">
							<button class="btn btn-success">không có thông báo mới</button>
						</div>
						{% endif %}
					</div>
				</div>
				{% if checklogin == False %}
				<a class="inner-sign" href="/login/">Đăng nhập</a>
				{% else %}
				<div class="user-wrap">
					<div class="user-icon">
						<i style="font-weight: 600; text-transform: uppercase;">{{nguoidung.ten|slice:":1"}}</i>
					</div>
					<div class="dropdown-user">
						<div class="dropdown-item">
							<a style="text-transform: uppercase;">Chào mừng quay trở lại: </a>
							<br>
							<a><strong>{{nguoidung.ten}}</strong></a>
						</div>
						{% if nguoidung.vaitro == "nhomdich" %}
						<div class="dropdown-item">
							<a href="/truyencuaban/">
								<span>Quản lý truyện của bạn</span>
							</a>
						</div>
						{% endif %}
						<div class="dropdown-item">
							<a href="/theodoi/">
								<span>Danh sách theo dõi</span>
							</a>
						</div>
						<div class="dropdown-item">
							<a href="/lichsu/">
								<span>Lịch sử đọc truyện</span>
							</a>
						</div>
						<div class="dropdown-item">

							<a href="/logout/">
								<span>Đăng xuất</span>
							</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% if nguoidung.vaitro == 'nhomdich' %}
				<span class="" style="color: green;">nhóm dịch</span>
				{% elif nguoidung.vaitro == 'nguoidoc' %}
				<span class="" style="color: green;">người dùng</span>
				{% endif %}
			</div>
		</div>
	</nav>
</header>

<script>
	document.querySelector('.user-icon').addEventListener('click', function () {
		document.querySelector('.dropdown-user').classList.toggle('active');
	});
</script>