<header>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
		<div class="container">
			<a class="navbar-brand" href="/home/">Trang chủ</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fa-solid fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/dangtruyen/">Đăng truyện</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Thể loại
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<div class="d-flex "> <!-- Use flexbox for horizontal layout -->
								{% for x in list_the_loais %}
								<a class="dropdown-item px-2" style="display: inline-block;"
									href="/theloai={{ x.theloai }}/">{{ x.theloai }}</a>
								{% endfor %}
							</div>
						</div>
					</li>

				</ul>
				<form class="d-flex" action="{% url 'timkiem' %}" method="post">
					{% csrf_token %}
					<input class="form-control me-2" type="search" placeholder="Nhập tên truyện..." aria-label="Search"
						name="search_value" required>
					<button class="btn inner-button" type="submit" name="btn-search">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>
				<div class="notification_wrap">
					<div class="notification_icon">
						<i class="fa-regular fa-bell"></i>
					</div>
					<div class="dropdown">
						{% for x in list_thong_baos %}
						<div class="notify_item">
							<a href="/truyen_id={{x.chap.truyen.id}}/chuong={{x.chap.id}}/" class="notify_info">
								<p href="#" style="color: blue;">{{ x.theloai}}</p>
								<p>{{ x.noidung }}</p>
							</a>
						</div>
						{% endfor %}

					</div>
				</div>
				{% if checklogin == False %}
				<a class="inner-sign" href="/login/">Đăng nhập</a>
				{% else %}
				<div class="user-wrap">
					<div class="user-icon">
						<i style="font-weight: 600;">{{nguoidung.ten|slice:":1"}}</i>
					</div>
					<div class="dropdown-user">
						<div class="dropdown-item">
							<a href="#" style="text-transform: uppercase;">Chào mừng quay trở lại: </a>
							<br>
							<a href="#"><strong>{{nguoidung.ten}}</strong></a>
						</div>
						<div class="dropdown-item">
							{% if nguoidung.vaitro == "nhomdich" %}
							<a href="/truyencuaban/">
								<p>Quản lý truyện của bạn</p>
							</a>
							{% endif %}
							<a href="/theodoi/">
								<p>Danh sách theo dõi</p>
							</a>
							<a href="/lichsu/">
								<p>Lịch sử đọc truyện</p>
							</a>
							<a href="/logout/">
								<p>Đăng xuất</p>
							</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% if nguoidung.vaitro == 'nhomdich' %}
				<span class="" style="color: green;">nhóm dịch</span>
				{% endif %}
			</div>
		</div>
	</nav>
</header>

<script>
	document.querySelector('.user-icon').addEventListener('click', function () {
		document.querySelector('.dropdown-user').classList.toggle('active');
	});
</script>