{% extends "index.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
{% load humanize %}

<!-- MAIN -->
<main>
  <section class="inner-login">
    <div class="container-2">
      <!-- REGISTER -->
      <div class="registration form">
        <header>Đăng ký</header>
        <form method="POST">
          {% csrf_token %}
          <input type="text" placeholder="Tên đăng nhập" required name="ten">
          <input type="password" placeholder="Mật khẩu" required name="matkhau">
          <input type="password" placeholder="Nhập lại mật khẩu" required name="nhaplaimk">

          <select id="" name="vaitro">
            <option value="" selected disabled hidden>Chọn một vai trò</option>
            <option value="nguoidoc">Người đọc</option>
            <option value="nhomdich">Nhóm dịch</option>
          </select>
          {% if register_failed == True %}
          <p style="color:red;">(form đăng ký không hợp lệ)</p>
          {% endif %}
          <button class="btn btn-primary" type="submit" style="margin-top:20px; width:100%">Đăng ký</button>
        </form>
        <div class="signup">
          <span class="signup">Đã có tài khoản?
            <a class="label" href="/login/">Đăng nhập</a>
          </span>
        </div>
      </div>
      <!-- END REGISTER -->
    </div>
  </section>
</main>
<!-- END MAIN -->


<!-- FOOTER -->
{% include 'footer.html' %}
<!-- END FOOTER -->
{% endblock %}