{% extends "index.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
{% load humanize %}

<main>
	<section id="truyentheodoi">
		<div class="container">
			<div class="inner-title font-bold">
				TÌM VỚI TỪ KHÓA JUJUSTU (7 KẾT QUẢ)
			</div>
			<div class="inner-list">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-3 col-4">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
							<div class="delete-icon">
								<button class="btndelete"><i class="fa-solid fa-trash"></i></button>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 col-4">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
							<div class="delete-icon">
								<button class="btndelete"><i class="fa-solid fa-trash"></i></button>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 col-4">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
							<div class="delete-icon">
								<button class="btndelete"><i class="fa-solid fa-trash"></i></button>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 col-4">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
							<div class="delete-icon">
								<button class="btndelete"><i class="fa-solid fa-trash"></i></button>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 col-4">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
							<div class="delete-icon">
								<button class="btndelete"><i class="fa-solid fa-trash"></i></button>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 col-4">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
							<div class="delete-icon">
								<button class="btndelete"><i class="fa-solid fa-trash"></i></button>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-3 col-4">
						<div class="image-container">
							<a href="#">
								<img src="assets/images/centuria.jpg" alt="Centuria" loading="lazy" width="320"
									height="480">
							</a>
							<div class="inner-name">
								<a href="#">
									<h3>Centuria
									</h3>
								</a>
								<a href="">
									<h3 class="inner-chap">
										C. 22
									</h3>
								</a>
							</div>
							<div class="delete-icon">
								<button class="btndelete"><i class="fa-solid fa-trash"></i></button>
							</div>
						</div>
					</div>


				</div>
			</div>


		</div>
	</section>
</main>

<footer class="footer">
	<!-- <p class="float-end"><a href="#">Back to top</a></p> -->
	<div class="container">
		<div class="inner-text">
			<div class="inner-contact">Link Github của nhóm 6:
				<a href="github.com" target="_blank">github.com</a>
			</div>
			<div class="inner-contact">
				Thành viên nhóm:
			</div>
			<div class="inner-member">B22DCCN261 - Hoàng Sơn Hải</div>
			<div class="inner-member">B22DCKH131 - Hoàng Khánh Văn</div>
			<div class="inner-member">B22DCKH129 - Nguyễn Hữu Trường</div>
			<div class="inner-member">B22DCCN633 - Thái Hữu Phúc</div>
			<div class="inner-member">B22DCCN371 - Trịnh Mạnh Hùng</div>
		</div>
	</div>

</footer>
<!-- END FOOTER -->


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>

{% endblock %}